<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body class="welcome_page">

    <h2>About this app:</h2>
    <div class="welcome_links">
    <h3>
        This app allows you to open packs and trade cards with fellow pokemon trainers.<br>
        Log in and start trading!
        <p>Created by: John-Louis Rumingan and Anna Dybas</p> <br>
        <p>Disclaimer: All images are copyright to their respective owners. </p>
    </h3>
    </div>
    <button class="ui black button"><%= link_to("Go back to home page", root_path)%></button>
    </body>
</html>