<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h2>Select the cards you want to trade</h2><br>
        
        <%= #form_tag({controller: 'trainers', action: 'mark_trades_for_trainer', method: 'post'}) do |f| %>
        <%= form_for @trainer do |f|%>
            <%= collection_check_boxes @trainer, :card_binder_ids, @trainer.card_binders, :id, :display_card_name_from_binder  %><br>
            <input type="submit" value="Submit your cards for trade">
        <% end %>
        <br>
        <%= link_to("Go back to your dashboard", trainers_home_path)%>
    </body>
</html>